body{
	font-family: Raleway;
	
	/*background-image: url(../img/marca-de-aguaA.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;*/
	text-align: center;
	background-image: url(../img/back-porta.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	font-size: .8em;
}

header img {
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 10px;
}



h1{
	text-align: center;
}

h2{
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 3px;
}

h3{
	font-family: 'Zeyada', cursive;	
	font-size: 2.5em;
	padding-top: 20px;
}

header{
	padding-top: 50px;
}

.titulo-ya a img{
	text-align: center;
}

nav ul li a{
	text-transform: uppercase;
	color: beige;

}

nav {
	background-color: black;
	padding: 12px 0px 12px 0px;

}



/*#fotos{
	background-image: url(../img/back-porta.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}*/

.icono-suave{
	height: 120px;
	opacity: 0.5;
}

.cv-seccion{
	padding-top: 50px;

}

.division{
	width: 10px;
	height: 10px;
}

.exp{
	text-align: left;
	font-size: 1.1em;
	padding: 0px 200px 0px 200px;

}

@media only screen and (max-width: 1200px) {
    .exp{
	padding: 0px 100px 0px 100px;

	}
}

@media only screen and (max-width: 993px) {
    .exp{
	padding: 0px 50px 0px 50px;

	}
}

@media only screen and (max-width: 769px) {
    .exp{
	padding: 0px;

	}
}

span{
	display: block;
}

.card{
	background-color:  black;
	color: beige;
	opacity: 0.8;
}

.misdatos{
	padding-top: 150px;
	font-size: 1.3em;
}

a:hover{
	color: #5e4b0f;
	text-decoration: none;
}

a{
	color: black;
	text-decoration: none;
}